.buttonFish{
    width: 100%;
}

h1{
   margin-top: 0px; 
}


.space{
    font-size: large;
    font-family: cursive;
    color: cornflowerblue;

}
.img{
    width: 50%;
    margin-left: 20%;

}
p{
    color: black;

}