.jac{
    background-image: url(../../assets/jac-bg.jpeg);
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 5%;
    
    &
    img{
        width: 20%;
        position: relative;
        border-radius: 10px 100px / 120px;
        border: groove 1em orange;
       
    }

    


.container{
    background-image: url(../../assets/jac-bg.jpeg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 h2{
    color: green;
    text-align: center;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
 }

 .activity{
    width: 15vw;
    height: 5vh;
    padding: 2em;
    border: 2px solid rgb(159, 12, 22);
    align-self: center;
    background-color: #63b7af;
    border-radius: 2em;
  }


textarea{
    padding: 10px;
    margin: 30px;
}

content-wrap {
    padding: 0 1.5em;
    color: purple;
}

}