.jac{
    
    background-color: rgba(255, 47, 64, 0.955);
    position: relative;
    width: 32%;
    height: 50%;
    margin-left: 70%;
     
    &
    img{
        width: 10%;
        position: relative;
    }
}

.container{
    background-image: url(../../assets/jac-bg.jpeg);
    text-align: center;
}

  


 h2{
    color: green;
    text-align: center;
 }


h3{
    color: green;
    text-align: center; 
}

textarea{
    padding: 10px;
    margin: 30px;
}

content-wrap {
    padding: 0 1.5em;
    color: purple;
}