.pages {
    // background-color: rgb(160, 236, 237);
    // background-image: url("assets/bg.jpg");
    position: relative;  
    height: 800px;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 20px;

    
}
