.planet{
    background-image: url("../../assets/solarSystemBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    width: 100%;
    box-shadow: 10px 10px;
    border: yellowgreen 5px solid;


P{
    background-color: rgb(34, 24, 17);
    color: silver;
    border: silver 5px solid;
}

.planetWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.head{
    flex-direction: column;
    align-items: center;
}

iframe{
    border: rgb(237, 99, 99) 5px solid;
   
}

.info{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.sections{
    border: darkolivegreen 5px solid;
}

.planetImage{
    width: 300px;
}

.button{
    text-align: center;
    background-color: rgb(160, 120, 95);
    border: rgb(156, 149, 149) 5px solid;
}

.buttonPlanet{
    margin-top:15px;
    margin-bottom:15px;
    border: darkolivegreen 5px solid;
   
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    padding:10px;
    border-radius: 20px;
    border:rgb(182, 104, 35) 5px solid;
    color: aliceblue;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    padding:10px;
    border-radius: 20px;
    background-color: white;
    border:rgb(9, 97, 32) 5px solid;
    color: silver;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: silver;
    padding:10px;
    border-radius: 20px;
    background-color: rgb(10, 48, 45);
    border:silver 5px solid;
}

.head{
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    justify-content: center;
}

}