.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: fit-content;
    background-color: rgb(227, 242, 22);
   text-align: center;
    position: relative;
}
.title {
    text-align: center;
    margin-bottom: 10px;
    font-family: Lucida;
    font-size: larger;
    color:rgb(0, 122, 252);
    text-shadow: 1px 1px 1px grey,
                   2px 2px 1px orange;
    padding: 10px;
}

.navList {
    display: flex;
    font-size: large;
    font-weight: bold;

    & a {
        align-items: center;
        border: 2px solid rgb(14, 233, 215);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0 20px;
        min-width: 75px;
        padding: 2px;
        text-decoration: none;
        
    }

    & a:hover {
        background-color: lightblue;
        transition: .5s;
    }
}