.reviews {
    background-image: url("../../assets/reviewsbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem auto;
    width: 100%;
    box-shadow: 10px 10px;
    border:darkblue 5px solid;
}

form {
    text-align: center;
}