.about{
    background-color: rgb(82, 79, 79);
    justify-content: center;
    border-radius: 10px;

    h1 {
        background: black;
        color: #0000 ;
        outline: auto black;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: black;
        display:grid
    }

    h2 {
        background: linear-gradient(90deg, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2b, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d4ff, #0af, #007fff, #05f, #002bff, #00f, #2a00ff, #50f, #7f00ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00) ;
        color: #0000 ;
        outline: auto black;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: black;
        display:grid
    }
    p {
        font-size: 20px;
        color: rgb(30, 5, 5);
        background-color: white;
        height: 150px;
        overflow-y: scroll;
        scrollbar-color: #23272a transparent;
        scrollbar-width: thin;
        background-image: linear-gradient(transparent, transparent);
    }
    img {
        height:200px;
        width: 200px;
        margin: auto;
        display: block;
    }
    
    .section1{
        max-width:40%;
        height:auto;
        background-color: rgb(125, 43, 150);
        border-radius: 20px;
        float: left;
        padding: 60px;
        justify-items: center;
       
        
    }
    
    .section2{
        max-width:40%;
        height:auto;
        background-color: rgb(0, 165, 241);
        border-radius: 20px;
        float: left;
        padding: 60px;
        justify-items: center;

    }
}





