.fish {
    background-image: url("../../assets/fishbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem auto;
    
    
    width: 100%;
    box-shadow: 10px 10px;
    border:darkblue 5px solid;
}

.fishWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    
}
.h3{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.head {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
}

p {
    background-color: white;
}

.section {
    border:darkblue 5px solid;
}


.fishImage{
    width: 150px;
}


.buttonFish{
    text-align: center;
    width: 100%;
}