.emailus{
    background-color: rgb(127, 225, 255);
    position: relative;
}
.email{
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    margin-left: 10px;
}
button{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-left: 10px;
    width: 100px;
    background-color: chartreuse;
    border-radius: 10px;
}